<!DOCTYPE html>
<html>
    <head><title>Templates</title></head>

    <body>
        <div id="snipcart-templates">
            <!-- Address Fields -->
            <address-fields>
                <div class="root">
                    <overridable name="address-fields" section="top"></overridable>
                    <fieldset class="snipcart-form__set">
                        <div class="snipcart-form__row">
                          <div class="snipcart-form__field snipcart-form__cell--large">
                            <snipcart-label
                              class="snipcart__font--tiny"
                              for="address1"
                            >{{ $localize('address_form.address1') }}</snipcart-label>
                            <snipcart-input name="address1"></snipcart-input>
                            <snipcart-error-message name="address1"></snipcart-error-message>
                          </div>

                          <div class="snipcart-form__field snipcart-form__cell--tidy">
                            <snipcart-label
                              class="snipcart__font--tiny"
                              for="address2"
                            >{{ $localize('address_form.address2') }}</snipcart-label>
                            <snipcart-input name="address2"></snipcart-input>
                            <snipcart-error-message name="address2"></snipcart-error-message>
                          </div>
                        </div>

                        <div class="snipcart-form__field">
                          <snipcart-label
                            class="snipcart__font--tiny"
                            for="city"
                          >{{ $localize('address_form.city') }}</snipcart-label>
                          <snipcart-input name="city"></snipcart-input>
                          <snipcart-error-message name="city"></snipcart-error-message>
                        </div>

                        <div class="snipcart-form__field">
                          <snipcart-label
                            class="snipcart__font--tiny"
                            for="country"
                          >{{ $localize('address_form.country') }}</snipcart-label>
                          <snipcart-typeahead type="dropdown" name="country" autocomplete="country"></snipcart-typeahead>
                          <snipcart-error-message name="country"></snipcart-error-message>
                        </div>

                        <div class="snipcart-form__row">
                          <div class="snipcart-form__field snipcart-form__cell--large">
                            <snipcart-label
                              class="snipcart__font--tiny"
                              for="province"
                            >{{ $localize('address_form.province') }}</snipcart-label>
                            <snipcart-typeahead type="dropdown" name="province" autocomplete="province state"></snipcart-typeahead>
                            <snipcart-error-message name="province"></snipcart-error-message>
                          </div>

                          <div class="snipcart-form__field snipcart-form__cell--tidy">
                            <snipcart-label
                              class="snipcart__font--tiny"
                              for="postalCode"
                            >{{ $localize('address_form.postalCode') }}</snipcart-label>
                            <snipcart-input name="postalCode"></snipcart-input>
                            <snipcart-error-message name="postalCode"></snipcart-error-message>
                          </div>
                        </div>

                        <div class="snipcart-form__field">
                            <snipcart-label for="phone">
                                Phone number
                            </snipcart-label>
                            <snipcart-input name="phone" required>
                            </snipcart-input>
                          </div>
                    </fieldset>
                </div>
            </address-fields>

            <!-- Subscription -->
            <subscription>
                <div class="snipcart-subscription snipcart__box">
                    <div class="snipcart-subscription__header">
                        <!-- Date -->
                        <div class="snipcart-subscription__header-item">
                            <div class="snipcart-subscription__header-title">{{ $localize('customer_dashboard.ordered_on') }}</div>
                            <div>{{ date | date }}</div>
                        </div>
                        <!-- Billing date -->
                        <div class="snipcart-subscription__header-item">
                            <div v-if="nextBillingDate != null">
                                <div class="snipcart-subscription__header-title">{{ $localize('customer_dashboard.next_billing_date') }}</div>
                                <div>{{ nextBillingDate | date }}</div>
                            </div>
                        </div>
                        <!-- Total -->
                        <div class="snipcart-subscription__header-item">
                            <div class="snipcart-subscription__header-title">{{ $localize('customer_dashboard.total') }}</div>
                            <div>{{ total | money(currency) }} ({{ planInterval }})</div>
                        </div>
                        <!-- Invoice -->
                        <div class="snipcart-subscription__header-item">
                            <div class="snipcart-subscription__header-title">{{ $localize('customer_dashboard.subscription', { invoice_number: invoiceNumber }) }}</div>
                            <button-link
                                label="customer_dashboard.view_invoice"

                            ></button-link>
                        </div>
                    </div>

                    <!-- Items -->
                    <div class="snipcart-subscription__product-ctn">
                        <card-product
                            v-for="item in providedItems"
                            v-bind="{...item}"
                            :key="`${token}:${item.itemKey}`"
                        >
                        </card-product>
                        <div class="subscription-action-buttons">
                            <button v-if="nextBillingDate == null" @click="updateSubscription(providedItems[0].itemKey, 'resume').then((data => actionFeedback(data)))" class="subscription-action-button--success">Resume</button>
                            <button v-if="nextBillingDate != null" @click="updateSubscription(providedItems[0].itemKey, 'pause').then((data => actionFeedback(data)))" class="subscription-action-button--warning">Pause</button>
                            <button @click="updateSubscription(providedItems[0].itemKey, 'delete').then((data => actionFeedback(data)))" class="subscription-action-button--danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </subscription>
        </div>
    </body>
</html>
